/* .
   .
   . -== COLORS ==->
   .
   . */

$magenta-haze: #953d6bff
$amaranth-purple: #9d2c43ff
$indian-red: #dd5162ff
$butterscotch: #ea9940ff
$saffron: #f4c046ff
$yellow-green: #9ec757ff
$hunter-green: #245a34ff
$dry-green: #386946ff
$black: #000000ff
$cadet-gray: #9da5aeff
$off-white: #f9f9f9ff
$white: #ffffffff
