@use 'colors.sass' as *
@use 'sass:color'
/* =======================
/* ˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
/*! --== FONT STYLES ==-- 
/* ˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
/* ˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
  
.home.page h1 
  font-size: calc(9.5vw + .001em)
  line-height: calc(13vw + .001em)



@media screen and (min-width:981px)
.home.page h1 
  font-size: calc(5vw + 0.001em)
  line-height: calc(6vw + 0.001em)

@media screen and (max-width: 767px)
  .home.page h1
    font-size: calc(10vw + .001em)
    line-height: calc(10vw + .001em)

.x-ingredients h3
  font-size: 12px

.single-post .x-ingredients h3
  font-size: revert
  
/* OUTLINED FONTS

$outline-px: 2px


// .x-outline
//   h1 
//     -webkit-text-stroke: $outline-px
//     -webkit-text-stroke-color: $white

//   p
//     -webkit-text-stroke: calc($outline-px / 100 * 75)
//     -webkit-text-stroke-color: $white


//   @media screen and (max-width: 980px) 

//     h1
//       -webkit-text-stroke: calc($outline-px / 100 * 75)
//       -webkit-text-stroke-color: $white
//     p
//       -webkit-text-stroke: calc($outline-px / 100 * 50)
//       -webkit-text-stroke-color: $white


//   @media screen and (max-width: 767px) 
    
//     h1
//       -webkit-text-stroke: calc($outline-px / 100 * 50)
//       -webkit-text-stroke-color: $white
//     p
//       -webkit-text-stroke: calc($outline-px / 100 * 30)
//       -webkit-text-stroke-color: $white
  

/* DECREASE WORD SPACE
.x-wordspace,
.x-wordspace-10
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    word-spacing: -10px

.x-wordspace-15
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    word-spacing: -15px

.x-wordspace-20
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    word-spacing: -20px

.x-wordspace-25
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    word-spacing: -25px

.x-wordspace-30
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    word-spacing: -30px


/* ˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
/*! END FONTS styles ---
/* ˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
/* ######################
