@use 'sass:color'
@use 'colors.sass' as *
/* ===============================
/* |˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
/*!| ===    GLOBAL FOOTER    ==> 
/* |˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙
/* |˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙˙

/* Logo + menus 4 columns grid

footer 
  .x-global_footer--logo_row
    .et_pb_column
      display: grid
      grid-template-areas: "logo logo shop company support"
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr
      gap: 20px

    .et_pb_menu .et_pb_menu__wrap
      justify-content: flex-start
 
/* GRID AREAS

footer
  .x-logo-footer
    grid-area: logo

  .x-support-menu-footer
    grid-area: support

  .x-shop-menu-footer
    grid-area: shop

  .x-company-menu-footer
    grid-area: company

// .x-support-menu-footer,
// .x-shop-menu-footer
//   width: 50%

/* UL MENUS DIRECTION

.et-db #et-boc .et-l .x-global-footer .et_pb_menu .et_pb_menu__menu > nav > ul
  flex-direction: column

/* -------------------------------
/* FOOTER - MOBILE GRID 2 COLUMNS
/* -------------------------------

@media all and (max-width: 767px)
  footer .x-global_footer--logo_row .et_pb_column
    grid-template-areas: "logo logo logo" "shop company support"
    grid-template-columns: 1fr 1fr 1fr

  .x-shop-menu-footer,
  .x-company-menu-footer,
  .x-support-menu-footer
    max-width: 150px
    margin: 0 auto
    margin-top: 0


/* ---------------------
/* FOOTER - MENU TITLES
/* ---------------------

footer
  .x-shop-menu-title,
  .x-company-menu-title,
  .x-support-menu-title
    font-size: 1em
    text-transform: uppercase
    font-weight: 700

  .x-global_footer--logo_row
    .et-menu-nav .et-menu li
      /* MENU ITEMS FONT SIZE
      font-size: .9em

    .et_pb_menu .et_pb_menu__menu > nav > ul
      display: block

  .x-logo-footer .et_pb_image_wrap
    /* LOGO FOOTER MAX SIZE
    max-width: 250px

@media all and (max-width: 767px)
  .x-global-footer .et_pb_main_blurb_image
    margin: 0 20% 30px

/* -------------------
/* FOOTER - CART ICON
/* -------------------

.x-cart-menu-title
  a::after
    display: inline-block
    position: absolute
    font-family: ETmodules
    content: "\E07A"
    margin-left: 15px
    padding-top: 1px


/* -----------------------------------------
/* FOOTER - SUPPORT MENU MOBILE FLOW COLUMN
/* -----------------------------------------
@media all and (max-width: 767px)
  /* SUPPORT MENU ON MOBILE FLOW COLUMN

  // .et-db #et-boc .et-l .x-global-footer
  //   .et_pb_menu
  //     &.x-support-menu-footer 
  //       .et_pb_menu__menu > nav > ul
  //         display: flex
  //         flex-direction: column

  .x-support-menu-footer ul
    .x-support-menu-title
      
      width: 100%
    
    .et_pb_menu_page_id-7833
      /* CART ITEM SPACING
      padding-right: 13%

  /* CART ITEM SPACING

  .x-global_footer--logo_row .menu-item-7833 a::after
    margin-left: 10px

/* ----------------------------------
/* FOOTER - MENUS VERTICAL ALIGNMENT
/* ----------------------------------

.x-shop-menu-footer,
.x-company-menu-footer,
.x-support-menu-footer
  margin-top: 60px
  justify-self: flex-end

  @media all and (min-width:981px)
    min-width: 130px

/* -----------------------------------------
/* FOOTER - MOBILE MENUS VERTICAL ALIGNMENT
/* -----------------------------------------
@media all and (max-width: 980px)
  .x-shop-menu-footer,
  .x-company-menu-footer,
  .x-support-menu-footer
    justify-self: flex-start

  .x-support-menu-footer,
  .x-shop-menu-footer
    width: initial

/* ------------------------
/* FOOTER - IPAD ALIGNMENT
/* ------------------------

@media all and (min-width: 767px) and (max-width: 980px)
  .x-shop-menu-footer,
  .x-company-menu-footer,
  .x-support-menu-footer
    margin-top: 137px
    width: 100%
    justify-self: flex-end

@media all and (max-width: 767px)
  .x-shop-menu-footer,
  .x-company-menu-footer,
  .x-support-menu-footer
    margin-top: 0px
  
  .x-company-menu-footer
    .et_pb_menu__wrap
      ul
        margin: 0 auto

/* --------------------------------
/* FOOTER - 3 LINES MENU SWITCH OFF
/* --------------------------------

@media all and (max-width: 980px)
  .et-db #et-boc .et-l
    .x-global-footer
      .et_pb_menu
        .et_pb_menu__menu
          display: block

      .et_mobile_nav_menu
        display: none

/* ------------------------------
/* FOOTER - PRIVACY & TERMS links
/* ------------------------------

.x-global_footer--privacy_terms .et_pb_column_1_2,
.x-global_footer--payments_row .et_pb_column_1_2,
.x-global_footer--copyright .et_pb_column_1_2
  display: flex
  flex-flow: row
  justify-content: flex-start

@media all and (max-width: 980px)
  .x-global_footer--payments_row,
  .x-global_footer--copyright
    .et_pb_column_1_2
      justify-content: center
      flex-flow: column

  .x-global_footer--privacy_terms
    .et_pb_column_1_2
      justify-content: center

.x-global_footer--payments_row,
.x-global_footer--privacy_terms,
.x-global_footer--copyright
  .et_pb_column_1_2
    .et_pb_module
      padding: 0px

.x-global_footer--privacy_terms,
.x-global_footer--copyright
  .et_pb_column_1_2
    .et_pb_module:first-of-type
      margin-right: 15px
      padding-right: 15px

@media all and (max-width: 980px)
  .x-global_footer--copyright
    .et_pb_column_1_2
      .et_pb_module:first-of-type
        padding-right: initial
        margin-right: initial

.x-global_footer--privacy_terms
  .et_pb_column_1_2
    .et_pb_module:first-of-type
      .et_pb_text_inner p::after
        content: '|'
        position: absolute
        margin-left: 15px

/* -------------------
/* FOOTER SOCIAL ICONS
/* -------------------

.x-global-footer
  .fa-brands
    margin-right: 20px
    margin-top: 20px

  .fa-facebook-f
    font-size: 30px
    transform: translateY(-2px)

/* -------------------
/* FOOTER PAYMENTS ROW
/* -------------------
.et_pb_gutters2.et-db #et-boc .et-l,
.et_pb_gutters3.et-db #et-boc .et-l,
.et_pb_gutters4.et-db #et-boc .et-l
  .x-global_footer--payments_row
    .et_pb_column,
    .et_pb_column_1_2
      flex-flow: row nowrap
      /*   justify-content: flex-start;
      gap: 6%

      &.et-last-child
        justify-content: flex-end
        transform: translateY(-45px)
        flex-direction: column

      .et_pb_module
        /*   max-width: 60px;
        margin: 0

    .et_pb_image
      max-width: 60px

  

@media all and (max-width: 980px)
  .x-global_footer--payments_row
    .et_pb_column
      &.et-last-child
        justify-content: center
        transform: initial
        flex-direction: row
        gap: 4%

/* -------------------
/* FOOTER CONTACT FORM
/* -------------------

.et_pb_gutters2.et-db #et-boc .et-l,
.et_pb_gutters3.et-db #et-boc .et-l,
.et_pb_gutters4.et-db #et-boc .et-l
  .x-global_footer--payments_row
    .et_pb_column_1_2 .et_pb_module.x-code-module
      margin-bottom: 4%

      h4
        color: $white
        margin-bottom: 5px

.et_pb_gutters2.et-db #et-boc .et-l,
.et_pb_gutters3.et-db #et-boc .et-l,
.et_pb_gutters4.et-db #et-boc .et-l
  #omnisend-form-689c3a455793905f88b7c7df-field-container-62a3147776d81914aa87ed98-emailField-input.omnisend-form-689c3a455793905f88b7c7df-field-container-62a3147776d81914aa87ed98-input
    font-family: DosisOmnisend, Helvetica Neue, Helvetica, Arial, sans-serif

    &:focus
        box-shadow: 0 0 0 2px $white inset, 0 0 0 4px $hunter-green inset


#omnisend-form-689c3a455793905f88b7c7df-submit-form
  .omnisend-form-689c3a455793905f88b7c7df-section-689c3708471a523c31f81d55,
  omnisend-form-689c3a455793905f88b7c7df-field-container-62a3147776d81914aa87ed98,
  #omnisend-form-689c3a455793905f88b7c7df-field-62a3147776d81914aa87ed98
    padding: 0

#omnisend-form-689c3a455793905f88b7c7df-submit-form
  .omnisend-form-689c3a455793905f88b7c7df-action-container-627932485028ebd8c6660c51
    position: absolute
    right: 0
    padding-top: 0
    padding-bottom: 0
    padding-left: 0
    padding-right: 0

  button#omnisend-form-689c3a455793905f88b7c7df-action-627932485028ebd8c6660c51.omnisend-form-689c3a455793905f88b7c7df-action-627932485028ebd8c6660c51
    font-weight: bold
    box-shadow: 0 5px 10px color.adjust($black, $alpha: -.7)
    padding: 16px 22px
    text-transform: uppercase
    transition: background-color 300ms ease-in-out, font-weight 300ms ease-in-out, color 300ms ease-in-out

    &:hover
      
      background-color: $butterscotch
      color: $white
      transition: background-color 300ms ease-in-out, font-weight 300ms ease-in-out, color 300ms ease-in-out

@media screen and (max-width: 981px)
  .x-global_footer--payments_row
    display: flex
    flex-direction: column-reverse

  .et-db #et-boc .et-l .x-global_footer--payments_row .et-last-child
    &.et_pb_column:last-child
      flex-direction: column !important
      margin-top: 4%
      margin-bottom: 7%
      transform: revert

    > *
      margin-left: auto !important
      margin-right: auto !important

@media screen and (max-width: 767px)
  .et-db #et-boc .et-l .x-global_footer--payments_row .et-last-child > *
    width: 100%

/* CONTACT FORM

/* END GLOBAL FOOTER
/* ######################